h1{
    text-align: center;
    color: blue;
    size: 40px;
}
form{
    width: 50%;
}


.card{
    width: auto;
    align-items: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-control{
    width: auto ;
}